<div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="card">

    <!-- HEADER -->
    <div class="header">
      <h2>ANALISIS DE COGENERACION</h2>
      <!--
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:void(0);">Action</a></li>
            <li><a href="javascript:void(0);">Another action</a></li>
            <li><a href="javascript:void(0);">Something else here</a></li>
          </ul>
        </li>
      </ul>
      -->
    </div>
    <!-- ./ HEADER -->

    <div class="body">
      <form>
        <div class="row clearfix">
          
          <!-- ==================== TAB MENU ===================== -->
          <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a data-target="#tab-1" data-toggle="tab" aria-expanded="true"><h6>DATA 1</h6></a></li>
            <li role="presentation" class=""><a data-target="#tab-2" data-toggle="tab" aria-expanded="false"><h6>DATA 1</h6></a></li>
            <li role="presentation"><a data-target="#tab-3" data-toggle="tab"><h6>DATA 3</h6></a></li>
            <li role="presentation"><a data-target="#tab-4" data-toggle="tab"><h6>DATA 4</h6></a></li>
          </ul>

          <div class="tab-content">
            <!-- ==================== TAB 1 ===================== -->
            <div role="tabpanel" class="tab-pane fade active in" id="tab-1">
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="info-box bg-red">
                  <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
                  <div class="content">
                    <div class="text">Térmico</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">95010 [kWh/a]</div>
                  </div>
                </div>
              </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Electrico</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">48310 [kWh/a]</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Pérdida</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">17714 [kWh/a]</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Combustible quemado unidad de cogeneración (calculado)</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">161033 [kWh/a]</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box-4">
              <div class="icon">
                <i class="material-icons col-red">pie_chart</i>
              </div>
              <div class="content">
                <div class="text">Combustible quemado en la caldera</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">12097 kWh/a</div>
              </div>
            </div>
          </div>
          </div>
            
            <div role="tabpanel" class="tab-pane fade" id="tab-2">
               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box-3 bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Demanda de combustible para climatización</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">12097 [kWh/a]</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box-3 bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Demanda de combustible para electricidad</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">57167 [kWh/a]</div>
              </div>
            </div>
          </div>
        

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box-3 bg-red">
             <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Autoconsumo de la electricidad autogenerada</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">93.3%</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box-3 bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Suministro a la red de la electricidad autogenerada</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">3.7%</div>
              </div>
            </div>
          </div>
            </div>
            
            <div role="tabpanel" class="tab-pane fade" id="tab-3">
               <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box-4">
              <div class="icon">
                <i class="material-icons col-red">pie_chart</i>
              </div>
              <div class="content">
                <div class="text">Combustible para generación de electricidad para demanda propia</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">55052 kWh/a</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box-4">
              <div class="icon">
                <i class="material-icons col-red">pie_chart</i>
              </div>
              <div class="content">
                <div class="text">Combustible para generación de electricidad para suministro a la red</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">2115 kWh/a</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="info-box-4">
              <div class="icon">
                <i class="material-icons col-red">pie_chart</i>
              </div>
              <div class="content">
                <div class="text"> Índice energía térmica/área utilizada</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">63 kWh/m²a</div>
              </div>
            </div>
          </div>
            </div>
            
            
            <div role="tabpanel" class="tab-pane fade" id="tab-4">
              
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label for="compresorconsumo">Costos promedio de combustible</label>
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="compresorconsumo" name="compresorconsumo" ng-model="data.compresorconsumo" 
                       class="form-control" placeholder="Ingrese valor [€/l] [€/m³] [€/kg]">
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box-3 bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Costos promedio de combustible</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">0.078 €/kWh</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box-3 bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Costos específicos de la climatización a distancia</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">0.263 €/kWh</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <label for="compresorconsumo">Costos de climatización a distancia por año</label>
            <div class="form-group">
              <div class="form-line">
                <input type="text" id="compresorconsumo" name="compresorconsumo" ng-model="data.compresorconsumo" 
                       class="form-control" placeholder="Ingrese valor [€/a]">
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box-3 bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text">Costos de aceite combustible para climatización</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">9042 €/a</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="info-box-3 bg-red">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
              -->
              <div class="content">
                <div class="text"> Costos de aceite combustible para electricidad, demada propia</div>
                <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">4292 €/a</div>
              </div>
            </div>
          </div>

            </div>
          </div>

          <!-- DATOS DE ENTRADA -->
         
          <!--  =============================================================== -->
         

   

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a ng-href="#!/auditor" class="btn btn-primary m-t-15 waves-effect">
              GUARDAR
            </a>
          </div>
          
          <!-- floating-button -->
            <div class="menu pmd-floating-action" role="navigation"> 
              <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" 
                 data-title="Regresar" ng-href="#!/auditor" style="border-radius: 50%"> 
                <i class="material-icons md-ligth pmd-md">arrow_back</i>
              </a>
            </div>

        </div>
        <!-- -->
        <!-- 
        <div class="body">
          <div id="gmap_basic_example" class="gmap"></div>
        </div>
        -->


        <!--
  
        -->




      </form>
    </div>

  </div>

</div>
</div>