<div class="row clearfix">
<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
  <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card">

    <!-- HEADER -->
    <div class="header">
      <h2>NUEVO SITIO</h2>
      <!-- 
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:void(0);">Action</a></li>
            <li><a href="javascript:void(0);">Another action</a></li>
            <li><a href="javascript:void(0);">Something else here</a></li>
          </ul>
        </li>
      </ul>
      -->
    </div>
    <!-- ./ HEADER -->

    <div class="body">
      <div class="row clearfix">

        <!-- =========  TAB MENU  ========= -->
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
          <li role="presentation" class="active"><a data-target="#tab-1" data-toggle="tab"><h6 style="font-size: 9px">INFO</h6></a></li>
          <li role="presentation"><a data-target="#tab-2" data-toggle="tab"><h6 style="font-size: 9px">EMPLEADOS</h6></a></li>
          <li role="presentation"><a data-target="#tab-3" data-toggle="tab"><h6 style="font-size: 9px">ENERGIA</h6></a></li>
          <li role="presentation"><a data-target="#tab-4" data-toggle="tab"><h6 style="font-size: 9px">PLAZAS</h6></a></li>
        </ul>

        <div class="tab-content">

          <!-- =========  TAB 1  ========= -->
          <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
              <a href="javascript:void(0);" class="btn bg-red" role="button">Ingresar Sitio</a>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="email_address">Empresa</label>
              <div class="form-group">
                <div class="form-line">
                  <select class="form-control show-tick">
                    <option value="">-- Please select --</option>
                    <option value="10">Panaderia Santa Eduvigis</option>
                    <option value="20">Industrias La Constancia</option>
                    <option value="30">Agrisal</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Nombre</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="password" class="form-control" placeholder="Ingrese nombre">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="email_address">Tipo de uso</label>
              <div class="form-group">
                <div class="form-line">
                  <select class="form-control show-tick">
                    <option value="">-- Please select --</option>
                    <option value="10">Oficina</option>
                    <option value="20">Taller</option>
                    <option value="30">Vivienda</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="email_address">Propiedad</label>
              <div class="form-group">
                <div class="form-line">
                  <select class="form-control show-tick">
                    <option value="">-- Please select --</option>
                    <option value="10">Propia</option>
                    <option value="20">Alquilada</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Área utilizada</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="password" id="password" class="form-control" placeholder="Ingrese área">
                </div>
              </div>

            </div>


          </div>

          <!-- =========  TAB 2  ========= -->
          <div role="tabpanel" class="tab-pane fade" id="tab-2">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
              <a href="javascript:void(0);" class="btn bg-red" role="button">Empleados</a>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">No de tiempo completo</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="password" class="form-control" placeholder="Ingrese cantidad">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">No de tiempo parcial</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="password" class="form-control" placeholder="Ingrese cantidad">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">No de extranjeros</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="password" class="form-control" placeholder="Ingrese cantidad">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">No en intrucción</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="password" class="form-control" placeholder="Ingrese cantidad">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box bg-red">
                <div class="icon">
                  <i class="material-icons">equalizer</i>
                </div>
                <div class="content">
                  <div class="text">Empleados en el Sitio</div>
                  <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
              </div>
            </div>

          </div>

          <!-- =========  TAB 3  ========= -->
          <div role="tabpanel" class="tab-pane fade" id="tab-3">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
              <a href="#" class="btn bg-red" role="button">Datos de energía</a>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Proveedor</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Ingrese nombre">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Factor de mezcla de energía usada</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="[g/kWh]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Consumo eléctrico anual</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="[kWh/a]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Suministrado de la red</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="[kWh/a]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Cogeneración</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="[kWh/a]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Consumo eléctrico según factura</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="[€]">
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label>Compensación por autoconsumo</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="[€]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box bg-red">
                <div class="icon">
                  <i class="material-icons">equalizer</i>
                </div>
                <div class="content">
                  <div class="text">Costos por cogeneración</div>
                  <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box bg-red">
                <div class="icon">
                  <i class="material-icons">equalizer</i>
                </div>
                <div class="content">
                  <div class="text">Costos de totales consumo electrico</div>
                  <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
              </div>
            </div>

          </div>

          <!-- =========  TAB 4  ========= -->
          <div role="tabpanel" class="tab-pane fade" id="tab-4">
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
              <a href="#" class="btn bg-red" role="button">Plazas de trabajo</a>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Potencia de computador por plaza</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Ingrese potencia [W]">
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Potencia de iluminación por plaza</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Ingrese potencia [W]">
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Plazas utilizadas en horarios de trabajo</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" placeholder="Ingrese cantidad">
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box bg-red">
                <div class="icon">
                  <i class="material-icons">equalizer</i>
                </div>
                <div class="content">
                  <div class="text">Días laborales por año</div>
                  <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">250</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box bg-red">
                <div class="icon">
                  <i class="material-icons">equalizer</i>
                </div>
                <div class="content">
                  <div class="text">Consumo eléctrico de plaza de trabajo</div>
                  <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">10000 [kWh/a]</div>
                </div>
              </div>
            </div>
            
            
          </div>

        </div>
        <!-- ./ DATOS DE ENERGIA -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a ng-href="#!/" class="btn btn-primary m-t-15 waves-effect">
            GUARDAR
          </a>
        </div>

        <!-- floating-button -->
            <div class="menu pmd-floating-action" role="navigation"> 
              <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" 
                 data-title="Regresar" ng-href="#!/" style="border-radius: 50%"> 
                <i class="material-icons md-ligth pmd-md">arrow_back</i>
              </a>
            </div>
      </div>
      <!-- -->
      <!-- 
      <div class="body">
        <div id="gmap_basic_example" class="gmap"></div>
      </div>
      -->


      <!--
  
      -->




    </div>

  </div>
</div>
</div>