<div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>CONSUMO DE AGUA</h2>
          <!-- 
          <ul class="header-dropdown m-r--5">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href="javascript:void(0);">Action</a></li>
                <li><a href="javascript:void(0);">Another action</a></li>
                <li><a href="javascript:void(0);">Something else here</a></li>
              </ul>
            </li>
          </ul>
          -->
        </div>
        <div class="body">
          <div class="row clearfix">
          <form>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="email_address">Agua fría</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="email_address" class="form-control" placeholder="Ingresar [m³/a]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="password">Agua caliente</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="password" class="form-control" placeholder="Ingresar [m³/a]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box bg-red">
                <div class="icon">
                  <i class="material-icons">equalizer</i>
                </div>
                <div class="content">
                  <div class="text">Consumo de agua total</div>
                  <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">200 m³/a</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box bg-red">
                <div class="icon">
                  <i class="material-icons">equalizer</i>
                </div>
                <div class="content">
                  <div class="text">Consumo de agua por año</div>
                  <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">7.5 m³/empleado</div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <a ng-href="#!/" class="btn btn-primary m-t-15 waves-effect">
                GUARDAR
              </a>
            </div>

            <div class="menu pmd-floating-action" role="navigation"> 
              <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" data-title="Regresar" ng-href="#!/auditor" style="border-radius: 50%"> 
                <i class="material-icons md-ligth pmd-md">arrow_back</i>
              </a>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  