<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">

      <div class="body">

        <div class="row clearfix">

          <!-- Visible lg|md-->
          <div class="col-lg-6 col-md-6 visible-lg visible-md">
            <div class="form-group">
              <a ng-href="#!/auditor" class="btn btn-block btn-lg btn-info waves-effect">
                <i class="material-icons">person</i>
                <span>AUDITOR</span>
              </a>
            </div>
          </div>
          <!-- Visible sm|xs-->
          <div class="col-sm-6 col-xs-6 visible-sm visible-xs">
            <div class="form-group">
              <a ng-href="#!/auditor" class="btn btn-block btn-lg btn-info waves-effect">
                <i class="material-icons">person</i><br>
                <span>AUDITOR</span>
              </a>
               
            </div>
          </div>

           <!-- Visible lg|md-->
          <div class="col-lg-6 col-md-6 visible-lg visible-md">
            <div class="form-group">
              <a ng-href="#!/empresas-listado" class="btn btn-block btn-lg btn-info waves-effect">
                <i class="material-icons">person</i>
                <span>EMPRESAS</span>
              </a>
            </div>
          </div>
           <!-- Visible sm|xs-->
          <div class="col-sm-6 col-xs-6 visible-sm visible-xs">
            <div class="form-group">
              <a ng-href="#!/empresas-listado" class="btn btn-block btn-lg btn-info waves-effect">
                <i class="material-icons">person</i><br>
                <span>EMPRESAS</span>
              </a>
            </div>
          </div>
           
           
          <!-- Visible lg|md-->
          <div class="col-lg-6 col-md-6 visible-lg visible-md">
            <div class="form-group">
              <a ng-href="#!/sitios-nuevo" class="btn btn-block btn-lg btn-info waves-effect">
                <i class="material-icons">person</i><br>
                <span>SITIOS</span>
              </a>
            </div>
          </div>
           <!-- Visible sm|xs-->
          <div class="col-sm-6 col-xs-6 visible-sm visible-xs">
            <div class="form-group">
              <a ng-href="#!/sitios-nuevo" class="btn btn-block btn-lg btn-info waves-effect">
                <i class="material-icons">person</i><br>
                <span>SITIOS</span>
              </a>
            </div>
          </div>

          <!-- Visible lg|md-->
          <div class="col-lg-6 col-md-6 visible-lg visible-md">
            <div class="form-group">
              <button type="button" class="btn btn-block btn-lg btn-info waves-effect">
                <i class="material-icons">wb_cloudy</i>
                <span>EMISIONES C02</span>
              </button>
            </div>
          </div>
           <!-- Visible sm|xs-->
          <div class="col-sm-6 col-xs-6 visible-sm visible-xs">
            <div class="form-group">
              <button type="button" class="btn btn-block btn-lg btn-info waves-effect">
                <i class="material-icons">wb_cloudy</i><br>
                <span>C02</span>
              </button>
            </div>
          </div>
           
        </div>


      </div>
    </div>
  </div>
</div>

