<div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="card">

      <!-- HEADER -->
      <div class="header">
        <h2>
          INGRESAR EQUIPOS | 25 equipos
        </h2>
        <!--
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another action</a></li>
              <li><a href="javascript:void(0);">Something else here</a></li>
            </ul>
          </li>
        </ul>
        -->
      </div>
      <!-- ./ HEADER -->

      <div class="body">
        <form>
          <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="email_address">Empresa</label>
              <div class="form-group">
                <div class="form-line">
                  <select class="form-control show-tick">
                    <option value="">-- Seleccionar empresa --</option>
                    <option value="10">Panaderia Santa Eduvigis</option>
                    <option value="20">Industrias La Constancia</option>
                    <option value="30">Agrisal</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="email_address">Sitio</label>
              <div class="form-group">
                <div class="form-line">
                  <select class="form-control show-tick">
                    <option value="">-- Seleccionar sitio --</option>
                    <option value="10">Sitio 1</option>
                    <option value="20">Sitio 2</option>
                    <option value="30">Sitio 3</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="email_address">Localización</label>
              <div class="form-group">
                <div class="form-line">
                  <select class="form-control show-tick">
                    <option value="">-- Seleccionar localización --</option>
                    <option value="10">Localización 1</option>
                    <option value="20">Localización 2</option>
                    <option value="30">Localización 3</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- DATOS DE ENTRADA -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="descripcion">Descripción</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="descripcion" name="descripcion" ng-model="data.descripcion" 
                         class="form-control" placeholder="Ingrese descripción">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="departamento">Departamento</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="departamento" name="departamento" ng-model="data.departamento" 
                         class="form-control" placeholder="Ingrese departamento">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="tipo">Tipo</label>
              <div class="form-group">
                <div class="form-line">
                  <select class="form-control show-tick">
                    <option value="">-- Seleccionar TIPO --</option>
                    <option value="10">Aparato</option>
                    <option value="20">Motor</option>
                    <option value="30">Oficina</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="uso">Uso</label>
              <div class="form-group">
                <div class="form-line">
                  <select class="form-control show-tick">
                    <option value="">-- Seleccionar USO --</option>
                    <option value="10">Lavado</option>
                    <option value="20">Iluminación</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="potencia">Potencia</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="potencia" name="potencia" ng-model="data.potencia" 
                         class="form-control" placeholder="Ingrese potencia [kW]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="cantidad">Cantidad</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="cantidad" name="cantidad" ng-model="data.cantidad" 
                         class="form-control" placeholder="Ingrese cantidad">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="horasuso">Horas de uso</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="horasuso" name="horasuso" ng-model="data.horasuso" 
                         class="form-control" placeholder="Ingrese horas de uso">
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="consumo">Consumo</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="consumo" name="consumo" ng-model="data.consumo" 
                         class="form-control" placeholder="Ingrese consumo [kWh]">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="consumo">Observaciones</label>
              <div class="form-group">
                <div class="form-line">
                  <textarea rows="2" class="form-control no-resize" placeholder="Ingresar observación..."></textarea>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <a ng-href="#!/auditor" class="btn btn-primary m-t-15 waves-effect">
                GUARDAR
              </a>
            </div>

            <!-- floating-button -->
            <div class="menu pmd-floating-action" role="navigation"> 
              <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" 
                 data-title="Regresar" ng-href="#!/auditor" style="border-radius: 50%"> 
                <i class="material-icons md-ligth pmd-md">arrow_back</i>
              </a>
            </div>

          </div>
          <!-- -->
          <!-- 
          <div class="body">
            <div id="gmap_basic_example" class="gmap"></div>
          </div>
          -->


          <!--
    
          -->




        </form>
      </div>

    </div>

  </div>
  </div>