<div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>
  
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>
        NUEVA EMPRESA
        </h2>
        <!-- 
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another action</a></li>
              <li><a href="javascript:void(0);">Something else here</a></li>
            </ul>
          </li>
        </ul>
        -->
      </div>
      <div class="body">
        <form>
          <label for="email_address">Nombre</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="email_address" class="form-control" placeholder="Ingreso nombre">
            </div>
          </div>
          <label for="password">No Fiscal</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="password" class="form-control" placeholder="Ingrese No">
            </div>
          </div>
          <label for="password">Representante Legal</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="password" class="form-control" placeholder="Ingrese representante legal">
            </div>
          </div>
          <label for="password">Correo Electrónico</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="password" class="form-control" placeholder="Ingrese correo electrónico">
            </div>
          </div>
          <label for="password">Teléfono</label>
          <div class="form-group">
            <div class="form-line">
              <input type="password" id="password" class="form-control" placeholder="Ingrese teléfono">
            </div>
          </div>
          <label for="password">Logo</label>
          <div class="form-group">
            <div class="form-line">
              <input type="file" id="password" class="form-control" placeholder="Ingrese No">
            </div>
          </div>
                                                  


          
          <br>
          <button type="button" class="btn btn-primary m-t-15 waves-effect">GUARDAR</button>

          <div class="menu pmd-floating-action" role="navigation"> 
          <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" data-title="Regresar" ng-href="#!/empresas-listado" style="border-radius: 50%"> 
            <i class="material-icons md-ligth pmd-md">arrow_back</i>
          </a>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>