<div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>
  <!-- Linked Items -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">

      <div class="body">
        <div class="media">
          <div class="media-left">
            <a href="javascript:void(0);">
              <img class="img-circle" src="../images/icon-enterprise.png" width="64" height="64">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Panaderia Santa Eduvigis</h4>
            Ultima vez 10-11-2015
            <br>Sitios 4         
          </div>
        </div>
        <hr>
        <div class="media">
          <div class="media-left">
            <a href="javascript:void(0);">
              <img class="img-circle" src="../images/icon-enterprise.png" width="64" height="64">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Industrias La Constancia</h4>
            Ultima vez 10-11-2015
            <br>Sitios 6
          </div>
        </div>
        <hr>
        <div class="media">
          <div class="media-left">
            <a href="javascript:void(0);">
              <img class="img-circle" src="../images/icon-enterprise.png" width="64" height="64">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Agrisal</h4>
            Ultima vez 10-11-2015
            <br>Sitios 3
          </div>
        </div>
        <hr>
        <div class="media">
          <div class="media-left">
            <a href="javascript:void(0);">
              <img class="img-circle" src="../images/icon-enterprise.png" width="64" height="64">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Grupo Roble</h4>
            Ultima vez 10-11-2015
            <br>Sitios 9
          </div>
        </div>
        <hr>
        <div class="media">
          <div class="media-left">
            <a href="javascript:void(0);">
              <img class="img-circle" src="../images/icon-enterprise.png" width="64" height="64">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Sykes</h4>
            Ultima vez 10-11-2015
            <br>Sitios 2
          </div>
        </div>
        <hr>
        <div class="media">
          <div class="media-left">
            <a href="javascript:void(0);">
              <img class="img-circle" src="../images/icon-enterprise.png" width="64" height="64">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Grupo Roble</h4>
            Ultima vez 10-11-2015
            <br>Sitios 2
          </div>
        </div>

        <div class="menu pmd-floating-action" role="navigation"> 
          <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" data-title="Nueva empresa" ng-href="#!/empresas-ingresar" style="border-radius: 50%"> 
            <i class="material-icons md-light pmd-sm">add</i>
          </a>
        </div>


      </div>
    </div>

  </div>
  </div>
