<!DOCTYPE html>
<html ng-app="myApp" ng-controller="LoginCtrl">

  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Login | Aji Admin</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">

    <!-- Angular 1.6.4 -->
    <script src="../angular/libs/angular.min.js"></script>
    <script src="../angular/libs/angular-route.min.js"></script>

    <!-- Controllers -->
    <script src="controllers/loginController.js"></script>
    <script src="config.js"></script>


  </head>

<<<<<<< HEAD
  <body class="login-page">
=======
<body class="login-page">
    <div class="col-sm-12 col-xs-12">
        
    
>>>>>>> a9d7dbed7a62c7077435ed88d6cb23af56ef9cc2
    <div class="login-box">
      <div class="logo">
        <a href="javascript:void(0);">AJI|<b>ADMIN</b></a>
        <small>=======================</small>
      </div>
      <div class="card">
        <div class="body">
          
          <!-- LOGIN FORM -->
          <form id="sign_in" name="sign_in" ng-submit="login(data)">
            
            <div class="msg">Ingresa tus credenciales</div>
            
            <div class="input-group">
              <span class="input-group-addon">
                <i class="material-icons">email</i>
              </span>
              <div class="form-line">
                <input type="email" class="form-control" name="email" placeholder="email" required autofocus 
                       ng-model="data.email">
              </div>
            </div>
            
            <div class="input-group">
              <span class="input-group-addon">
                <i class="material-icons">lock</i>
              </span>
              <div class="form-line">
                <input type="password" class="form-control" name="password" placeholder="password" required 
                       ng-model="data.password">
              </div>
            </div>
            
            <!-- Alert -->
            <div class="alert alert-danger text-center" ng-show="invalid">
                Corregir email/contraseña
            </div>
            
            <div class="row">
              <div class="col-xs-8 p-t-5">
                <!--
                <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                <label for="rememberme">Recordar credenciales</label>
                -->
              </div>
              <div class="col-xs-4">
                <!--
                <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                -->

                <button type="submit" class="btn btn-block bg-red waves-effect"
                        ng-disabled="sign_in.$invalid || loading">Iniciar</button>
              </div>
            </div>
            <div class="row m-t-15 m-b--20">
              <div class="col-xs-6">
                <!-- <a href="sign-up.html">¡Registrarme ahora!</a> -->
              </div>
              <div class="col-xs-6 align-right">
                <a href="forgot-password.html">Olvidé mi contrseña?</a>
              </div>
            </div>
          </form>
          <!-- ./ LOGIN FORM -->
        </div>
      </div>
    </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="../plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="../plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="../js/admin.js"></script>
    <script src="../js/pages/examples/sign-in.js"></script>
  </body>

</html>