<div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="card">

      <!-- HEADER -->
      <div class="header">
        <h2>
          AIRE COMPRIMIDO
        </h2>
        <!--
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another action</a></li>
              <li><a href="javascript:void(0);">Something else here</a></li>
            </ul>
          </li>
        </ul>
        -->
      </div>
      <!-- ./ HEADER -->

      <div class="body">
        <form>
          <div class="row clearfix">

            <!-- DATOS DE ENTRADA -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <label for="compresorconsumo">Consumo de compresor/es</label>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" id="compresorconsumo" name="compresorconsumo" ng-model="data.compresorconsumo" 
                         class="form-control" placeholder="Ingrese consumo [kWh/a]">
                </div>
              </div>
            </div>

            <!-- -->
            <div class="">
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
                <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
                <a href="javascript:void(0);" class="btn bg-red" role="button">Alternativa</a>
                <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
              </div><br>


              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="compresorpotencia">Potencia de compresor/es</label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="compresorpotencia" name="compresorpotencia" ng-model="data.compresorpotencia" 
                           class="form-control" placeholder="Ingrese potencia [kW]">
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="horasoperacion">Horas de operación al día</label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="horasoperacion" name="horasoperacion" ng-model="data.horasoperacion" 
                           class="form-control" placeholder="Ingrese horas [kW]">
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="resultadoconsumocompresor">Resultado consumo de compresor/es</label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" id="resultadoconsumocompresor" name="resultadoconsumocompresor" ng-model="data.resultadoconsumocompresor" 
                           class="form-control" placeholder="Resultado">
                  </div>
                </div>
              </div>

              <div class="">
                <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
                  <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
                  <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
                  <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
                </div><br>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="aireconsumo">Consumo de aire comprimido</label>
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" id="aireconsumo" name="aireconsumo" ng-model="data.aireconsumo" 
                             class="form-control" placeholder="Ingreso consumo [m³/a]">
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <a ng-href="#!/auditor" class="btn btn-primary m-t-15 waves-effect">
                    GUARDAR
                  </a>
                </div>
                
                <!-- floating-button -->
                <div class="menu pmd-floating-action" role="navigation"> 
                  <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" 
                     data-title="Regresar" ng-href="#!/auditor" style="border-radius: 50%"> 
                    <i class="material-icons md-ligth pmd-md">arrow_back</i>
                  </a>
                </div>


              </div>
              <!-- -->
              <!-- 
              <div class="body">
                <div id="gmap_basic_example" class="gmap"></div>
              </div>
              -->


              <!--
        
              -->




              </form>
            </div>

          </div>

      </div>
      </div>