<div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>
  <div class="">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            AUDITOR
          </h2>
          <!--
          <ul class="header-dropdown m-r--5">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href="javascript:void(0);">Action</a></li>
                <li><a href="javascript:void(0);">Another action</a></li>
                <li><a href="javascript:void(0);">Something else here</a></li>
              </ul>
            </li>
          </ul>
          -->
        </div>
        <div class="body">
          <form>
            <div class="row clearfix">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="email_address">Empresa</label>
                <div class="form-group">
                  <div class="form-line">
                    <select class="form-control show-tick">
                      <option value="">-- Seleccionar empresa --</option>
                      <option value="10">Panaderia Santa Eduvigis</option>
                      <option value="20">Industrias La Constancia</option>
                      <option value="30">Agrisal</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="email_address">Sitio</label>
                <div class="form-group">
                  <div class="form-line">
                    <select class="form-control show-tick">
                      <option value="">-- Seleccionar sitio --</option>
                      <option value="10">Sitio 1</option>
                      <option value="20">Sitio 2</option>
                      <option value="30">Sitio 3</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <label for="email_address">Localización</label>
                <div class="form-group">
                  <div class="form-line">
                    <select class="form-control show-tick">
                      <option value="">-- Seleccionar localización --</option>
                      <option value="10">Localización 1</option>
                      <option value="20">Localización 2</option>
                      <option value="30">Localización 3</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!-- -->
                <div class="list-group">

                  <!-- EQUIPOS -->
                  <a ng-href="#!/auditor-equipos-new" class="list-group-item">

                    <div class="media-body media-middle">
                      <h4 class="list-group-item-heading">EQUIPOS</h4>
                      <!-- 
                      <p class="list-group-item-text">
                        Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an.
                      </p>
                      -->
                    </div>
                    <div class="media-right">
                      <img class="img-circle" src="../images/right-arrow.png" width="64" height="64">
                    </div>
                  </a><hr>

                  <!-- AIRE COMPRIMIDO -->
                  <a ng-href="#!/aire-comprimido-new" class="list-group-item">
                    <!-- 
                    <div class="media-left">
                      <img class="img-circle" src="http://placehold.it/64x64" width="64" height="64">
                    </div>
                    -->
                    <div class="media-body media-middle">
                      <h4 class="list-group-item-heading">AIRE COMPRIMIDO</h4>
                      <!-- 
                      <p class="list-group-item-text">
                        Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an.
                      </p>
                      -->
                    </div>
                    <div class="media-right">
                      <img class="img-circle" src="../images/right-arrow.png" width="64" height="64">
                    </div>
                  </a><hr>

                  <!-- CLIMATIZACION Y COGENERACION -->
                  <a ng-href="#!/clima-cogene-new" class="list-group-item">
                    <div class="media-body media-middle">
                      <h4 class="list-group-item-heading">CLIMATIZACION Y COGENERACION</h4>
                      <!-- 
                     <p class="list-group-item-text">
                       Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an.
                     </p>
                      -->
                    </div>
                    <div class="media-right">
                      <img class="img-circle" src="../images/right-arrow.png" width="64" height="64">
                    </div>
                  </a><hr>

                  <!-- ANALISIS DE COGENERACION -->
                  <a ng-href="#!/analisis-cogene-new" class="list-group-item">
                    <div class="media-body media-middle">
                      <h4 class="list-group-item-heading">ANALISIS DE COGENERACION</h4>
                      <!-- 
                     <p class="list-group-item-text">
                       Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an.
                     </p>
                      -->
                    </div>
                    <div class="media-right">
                      <img class="img-circle" src="../images/right-arrow.png" width="64" height="64">
                    </div>
                  </a><hr>

                  <!-- TRANSPORTE/VIAJES DE TRABAJO -->
                  <a ng-href="#!/transporte-viaje-new" class="list-group-item">
                    <div class="media-body media-middle">
                      <h4 class="list-group-item-heading">TRANSPORTE/VIAJES DE TRABAJO</h4>
                      <!-- 
                     <p class="list-group-item-text">
                       Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an.
                     </p>
                      -->
                    </div>
                    <div class="media-right">
                      <img class="img-circle" src="../images/right-arrow.png" width="64" height="64">
                    </div>
                  </a><hr>

                  <!-- CONSUMO DE AGUA -->
                  <a ng-href="#!/consumo-agua" class="list-group-item">
                    <div class="media-body media-middle">
                      <h4 class="list-group-item-heading">CONSUMO DE AGUA</h4>
                      <!-- 
                     <p class="list-group-item-text">
                       Lorem ipsum dolor sit amet, ut duo atqui exerci dicunt, ius impedit mediocritatem an.
                     </p>
                      -->
                    </div>
                    <div class="media-right">
                      <img class="img-circle" src="../images/right-arrow.png" width="64" height="64">
                    </div>
                  </a><hr>

                </div>

                <!-- -->

              </div>

            </div>
            
            <!-- floating-button -->
            <div class="menu pmd-floating-action" role="navigation"> 
              <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" 
                 data-title="Regresar" ng-href="#!/" style="border-radius: 50%"> 
                <i class="material-icons md-ligth pmd-md">arrow_back</i>
              </a>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>