
<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
  <i class="material-icons">flag</i>
  <span class="label-count">9</span>
</a>
<ul class="dropdown-menu">
  <li class="header">TASKS</li>
  <li class="body">
    <ul class="menu tasks">
      <li>
        <a href="javascript:void(0);">
          <h4>
            Footer display issue
            <small>32%</small>
          </h4>
          <div class="progress">
            <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <h4>
            Make new buttons
            <small>45%</small>
          </h4>
          <div class="progress">
            <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <h4>
            Create new dashboard
            <small>54%</small>
          </h4>
          <div class="progress">
            <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <h4>
            Solve transition issue
            <small>65%</small>
          </h4>
          <div class="progress">
            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
            </div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <h4>
            Answer GitHub questions
            <small>92%</small>
          </h4>
          <div class="progress">
            <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
            </div>
          </div>
        </a>
      </li>
    </ul>
  </li>
  <li class="footer">
    <a href="javascript:void(0);">View All Tasks</a>
  </li>
</ul>
