  <div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="card">

      <!-- HEADER -->
      <div class="header">
        <h2> CLIMATIZACION Y COGENERACION</h2>
        <!--
        <ul class="header-dropdown m-r--5">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another action</a></li>
              <li><a href="javascript:void(0);">Something else here</a></li>
            </ul>
          </li>
        </ul>
        -->
      </div>
      <!-- ./ HEADER -->

      <div class="body">
        <form>
          <div class="row clearfix">

            <!-- =========== MENU TAB ============== -->
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
              <li role="presentation" class="active"><a data-target="#tab-1" data-toggle="tab"><h6>INFO</h6></a></li>
              <li role="presentation"><a data-target="#tab-2" data-toggle="tab"><h6>V. CALORIFICO</h6></a></li>
              <li role="presentation"><a data-target="#tab-3" data-toggle="tab"><h6>INFO TECNICA</h6></a></li>
            </ul>

            <div class="tab-content">

              <!-- =========== TAB 1 ============== -->
              <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                  <a href="#" class="btn bg-red" role="button">Información</a>
                </div><br>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="tipoclimatizacion">Tipo de climatización</label>
                  <div class="form-group">
                    <div class="form-line">
                      <select class="form-control show-tick">
                        <option value="">-- Seleccionar TIPO --</option>
                        <option value="10">Aire acondiconado</option>
                        <option value="20">Calefacción</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="tipoclimatizacion">Combustible para cogeneración</label>
                  <div class="form-group">
                    <div class="form-line">
                      <select class="form-control show-tick">
                        <option value="">-- Seleccionar COMBUSTIBLE --</option>
                        <option value="10">Aceite combustible</option>
                        <option value="20"> Gas natural</option>
                        <option value="20">Pellets de madera</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="tipoclimatizacion">Combustible para climatización</label>
                  <div class="form-group">
                    <div class="form-line">
                      <select class="form-control show-tick">
                        <option value="">-- Seleccionar COMBUSTIBLE --</option>
                        <option value="10">Aceite combustible</option>
                        <option value="20"> Gas natural</option>
                        <option value="20">Pellets de madera</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label class="radio-inline pmd-radio">
										<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"><span class="pmd-radio-label">&nbsp</span>
										<span for="inlineRadio1">SI</span></label>
                  <label class="radio-inline pmd-radio">
										<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"><span class="pmd-radio-label">&nbsp;</span>
										<span for="inlineRadio1">NO</span> </label>
                  
                
                </div>
              </div>

              <!-- =========== TAB 2 ============== -->
              <div role="tabpanel" class="tab-pane fade" id="tab-2">
                <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                  <a href="#" class="btn bg-red" role="button">Valor calorífico</a>
                </div><br>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="compresorconsumo">Valor calorífico de aceite combustible</label>
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" id="compresorconsumo" name="compresorconsumo" ng-model="data.compresorconsumo" 
                             class="form-control" placeholder="Ingrese valor [kWh/l]">
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="compresorconsumo">Valor calorífico de gas natural</label>
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" id="compresorconsumo" name="compresorconsumo" ng-model="data.compresorconsumo" 
                             class="form-control" placeholder="Ingrese valor [kWh/m³]">
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="compresorconsumo">Valor calorífico de pellets de maderal</label>
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" id="compresorconsumo" name="compresorconsumo" ng-model="data.compresorconsumo" 
                             class="form-control" placeholder="Ingrese valor [kWh/kg]">
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="info-box bg-red align-center">
                    <div class="icon">
                      <i class="material-icons">equalizer</i>
                    </div>

                    <div class="content">
                      <div class="text">Consumo de combustible por año</div>
                      <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">173130 kWh</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="compresorconsumo">Sistema de climatización a distancia</label>
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" id="compresorconsumo" name="compresorconsumo" ng-model="data.compresorconsumo" 
                             class="form-control" placeholder="Ingrese valor [kWh/a]">
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="compresorconsumo">Suministro por cogeneración ultimo año</label>
                  <div class="form-group">
                    <div class="form-line">
                      <input type="text" id="compresorconsumo" name="compresorconsumo" ng-model="data.compresorconsumo" 
                             class="form-control" placeholder="Ingrese valor [kWh/a]">
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="info-box bg-red align-center">
                    <div class="icon">
                      <i class="material-icons">equalizer</i>
                    </div>

                    <div class="content">
                      <div class="text">Autoconsumo de electricidad de la unidad de cogeneración</div>
                      <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">46523 kWh/a</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="info-box bg-deep-orange align-center">
                    <div class="icon">
                      <i class="material-icons">equalizer</i>
                    </div>

                    <div class="content">
                      <div class="text">Total de electricidad producida por la unidad de cogeneración</div>
                      <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">48310 kWh/a</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- =========== TAB 3 ============== -->
              <div role="tabpanel" class="tab-pane fade" id="tab-3">
                
            <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
              <a href="#" class="btn bg-red" role="button">Datos técnicos de cogeneración</a>
            </div><br>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                  <i class="material-icons col-red">pie_chart</i>
                </div>
                <div class="content">
                  <div class="text">Transformación en energía eléctrica</div>
                  <div class="number">92%</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                  <i class="material-icons col-red">pie_chart</i>
                </div>
                <div class="content">
                  <div class="text">Transformación en energía térmica</div>
                  <div class="number">52%</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                  <i class="material-icons col-red">pie_chart</i>
                </div>
                <div class="content">
                  <div class="text">Pérdidas</div>
                  <div class="number">24%</div>
                </div>
              </div>
            </div>
              </div>
             
            </div>

            <!-- DATOS DE ENTRADA -->





            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <a ng-href="#!/auditor" class="btn btn-primary m-t-15 waves-effect">
                GUARDAR
              </a>
            </div>

            <!-- floating-button -->
            <div class="menu pmd-floating-action" role="navigation"> 
              <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" 
                 data-title="Regresar" ng-href="#!/auditor" style="border-radius: 50%"> 
                <i class="material-icons md-ligth pmd-md">arrow_back</i>
              </a>
            </div>

          </div>
          <!-- -->
          <!-- 
          <div class="body">
            <div id="gmap_basic_example" class="gmap"></div>
          </div>
          -->


          <!--
    
          -->




        </form>
      </div>

    </div>

  </div>
  </div>