<div class="row clearfix">
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" style="position: sticky;">
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
    <a href="javascript:void(0);" class="btn bg-red" role="button"></a>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="card">

      <!-- HEADER -->
      <div class="header">
        <h2>
          TRANSPORTE/VIAJES DE TRABAJO | 14 unidades
        </h2>
      <!--
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_vert</i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:void(0);">Action</a></li>
            <li><a href="javascript:void(0);">Another action</a></li>
            <li><a href="javascript:void(0);">Something else here</a></li>
          </ul>
        </li>
      </ul>
    -->
  </div>
  <!-- ./ HEADER -->

  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1-->

  <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1-->



  <div class="body">

 <!-- ==================== TAB MENU ===================== -->
          <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a data-target="#tab-1" data-toggle="tab" aria-expanded="true"><h6>INFO</h6></a></li>
            <li role="presentation" class=""><a data-target="#tab-2" data-toggle="tab" aria-expanded="false"><h6>GAS</h6></a></li>
            <li role="presentation"><a data-target="#tab-3" data-toggle="tab"><h6>VIAJES</h6></a></li>
            <li role="presentation"><a data-target="#tab-5" data-toggle="tab"><h6>TOTAL</h6></a></li>
          </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- =============================================================================  -->
      <!--                               TAB 1                                            -->
      <!-- =============================================================================  -->
      <div role="tabpanel" class="tab-pane active fade in" id="tab-1">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
          <a href="javascript:void(0);" class="btn bg-red" role="button">Detales técnicos de calle/pista</a>
        </div><br>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Marca de vehículo</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingreso marca">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Placa de vehículo</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="plca" class="form-control" placeholder="Ingreso # placa">
            </div>
          </div>
        </div>

        <!-- DATOS DE ENTRADA -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="tipo">Tipo de combustible</label>
          <div class="form-group">
            <div class="form-line">
              <select class="form-control show-tick">
                <option value="">-- Seleccionar TIPO --</option>
                <option value="10">Diesel</option>
                <option value="20">Gasolina</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Consumo de combustible</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="plca" class="form-control" placeholder="Ingreso consumo [l/100km]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red">
            <div class="icon">
              <i class="material-icons">equalizer</i>
            </div>
            <div class="content">
              <div class="text">Empleados en el sitio</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">27</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red">
            <div class="icon">
              <i class="material-icons">equalizer</i>
            </div>
            <div class="content">
              <div class="text">Consumo promedio de Diesel</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">7.5 l/100km</div>
            </div>
          </div>
        </div>
      </div>

      <!-- =============================================================================  -->
      <!--                               TAB 2                                            -->
      <!-- =============================================================================  -->
      <div role="tabpanel" class="tab-pane fade in" id="tab-2">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
          <a href="javascript:void(0);" class="btn bg-red" role="button">Energía consumida calle/pista</a>
        </div><br>
        <!-- CONSUMO DIESEL -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="potencia">Consumo de total Diesel por año</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="potencia" name="potencia" ng-model="data.potencia" 
              class="form-control" placeholder="Ingrese consumo [l/a]]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="cantidad">Costos del Diesel</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="cantidad" name="cantidad" ng-model="data.cantidad" 
              class="form-control" placeholder="Ingrese costo [€/a]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Trechos recorridos (Diesel)</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">78409 km/a</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Energía consumida (Diesel)</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">58807  kWh/a</div>
            </div>
          </div>
        </div>

        <!-- CONSUMO GASOLINA -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="potencia">Consumo de total Gasolina por año</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="potencia" name="potencia" ng-model="data.potencia" 
              class="form-control" placeholder="Ingrese consumo [l/a]]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="cantidad">Costos de Gasolina</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="cantidad" name="cantidad" ng-model="data.cantidad" 
              class="form-control" placeholder="Ingrese costo [€/a]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Trechos recorridos (Gasolina)</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">78409 km/a</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Energía consumida (Gasolina)</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">58807  kWh/a</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-deep-orange align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">58807 kWh/a</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">Energía consumida "Calle/pista"</div>
            </div>
          </div>
        </div>
      </div>

      <!-- =============================================================================  -->
      <!--                               TAB 3                                            -->
      <!-- =============================================================================  -->
      <div role="tabpanel" class="tab-pane fade in" id="tab-3">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
          <a href="javascript:void(0);" class="btn bg-red" role="button">Viajes en tren</a>
        </div><br>
        
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Viajes en tren</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [km]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Consumo de energía en recorrido</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [kWh/km]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Costos de los viajes en tren</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [€/a]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Energía consumida "Tren"</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">9733 kWh/a</div>
            </div>
          </div>
        </div>

                <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
          <a href="javascript:void(0);" class="btn bg-red" role="button">Viajes en avión</a>
        </div><br>
        
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Viajes en avión</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [km]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Consumo de kerosene</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [l/100km]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Valor calorífico de Kerosene</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [kWh/l]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Costos de viajes en avión</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [€/a]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Consumo de energia por kilómetro en avión</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">0,365 kWh/km</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Consumo de energia de viajes en avión por año</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">63443 kWh/a</div>
            </div>
          </div>
        </div>

      </div>

      <!-- =============================================================================  -->
      <!--                               TAB 4                                            -->
      <!-- =============================================================================  -->
      <div role="tabpanel" class="tab-pane fade in" id="tab-4">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
          <a href="javascript:void(0);" class="btn bg-red" role="button">Viajes en avión</a>
        </div><br>
        
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Viajes en avión</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [km]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Consumo de kerosene</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [l/100km]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Valor calorífico de Kerosene</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [kWh/l]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <label for="marca">Costos de viajes en avión</label>
          <div class="form-group">
            <div class="form-line">
              <input type="text" id="marca" class="form-control" placeholder="Ingrese [€/a]">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Consumo de energia por kilómetro en avión</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">0,365 kWh/km</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Consumo de energia de viajes en avión por año</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">63443 kWh/a</div>
            </div>
          </div>
        </div>

      </div>

      <!-- =============================================================================  -->
      <!--                               TAB 5                                            -->
      <!-- =============================================================================  -->

      <div role="tabpanel" class="tab-pane fade" id="tab-5">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
          <a href="javascript:void(0);" class="btn bg-red" role="button">Total viajes</a>
        </div><br>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">Consumo de energia de viajes de servicio por año</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">131983 kWh/a</div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="info-box bg-red align-center">
              <!-- 
              <div class="icon">
                <i class="material-icons">equalizer</i>
              </div>
            -->
            <div class="content">
              <div class="text">CÍndice de consumo de energia por empleado</div>
              <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">1407 kWh/e</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form>
      <div class="row clearfix">




        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <a ng-href="#!/auditor" class="btn btn-primary m-t-15 waves-effect">
            GUARDAR
          </a>
        </div>
        
        <!-- floating-button -->
            <div class="menu pmd-floating-action" role="navigation"> 
              <a class="js-gitter-toggle-chat-button floating-btn-custon pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised btn-secondary" 
                 data-title="Regresar" ng-href="#!/auditor" style="border-radius: 50%"> 
                <i class="material-icons md-ligth pmd-md">arrow_back</i>
              </a>
            </div>

      </div>
      <!-- -->
        <!-- 
        <div class="body">
          <div id="gmap_basic_example" class="gmap"></div>
        </div>
      -->


        <!--
  
      -->




    </form>
  </div>

</div>

</div>
</div>